{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>

<ul>
    <li>Vendu(e) : {{ listing.sold|yesno }}</li>
    <li>Année : {{ listing.year }}</li>
    <li>Type : {{ listing.get_type_display }}</li>
</ul>

<p>{{ listing.description }}</p>

<a href="{% url 'listing-update' listing.id %}">✏️ Modifier cette annonce</a>
<a href="{% url 'listing-delete' listing.id %}">🗑️ Supprimer cette annonce</a>
<a href="{% url 'listing-list' %}">Retour à toutes les annonces</a>

{% endblock %}